{% for color in buttons %}
${{color.key}}:                   {{color.color}} !default;{% endfor %}

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
